<!DOCTYPE HTML>
<html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Application de prevision</title>

<link rel="shortcut icon" href="favicon.png">
<link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">

<link href='https://fonts.googleapis.com/css?family=Hind:400,500,600,700' rel='stylesheet' type='text/css'>

<link href="/static/css/style.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="layout">

<div class="loader">
<div class="loader-brand"><img alt="" class="img-responsive center-block" src="/static/img/brand.png"></div>
</div>

<header id="top" class="navbar js-navbar-affix">
<div class="container">
<div class="navbar-header">

<a href="#home" class="brand js-target-scroll">
<span class="text-primary">DELTA</span>PREDICT
</a>
</div>
<div class="collapse navbar-collapse" id="navbar-collapse">
<ul class="nav navbar-nav navbar-right">
<li class="active">
<a href="#home" class="js-target-scroll">Home</a>
</li>
<li>
<a href="#etabl" class="js-target-scroll">A propos de l'OCP</a>
</li>
<li>
  <a href="#insea" class="js-target-scroll">A propos de l'INSEA</a>
  </li>
<li>
<a href="#team" class="js-target-scroll">Equipe</a>
</li>

</ul>
</div>
</div>
</header>

<main id="home" class="main">

<div class="rev_slider_wrapper">
<div id="rev_slider" class="rev_slider fullscreenbanner" >
<ul>

<li>

<img src="/static/img/slider/ocp.png" alt="" data-lazyload="img/slider/ensa.jpg" data-bgposition="center top" data-kenburns="on" data-duration="20000" data-ease="Power1.easeOut" data-scalestart="120" data-scaleend="100" class="rev-slidebg" data-no-retina>

<div class="tp-caption tp-resizeme" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="opacity:0;s:1000;s:1000;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-start="1300" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; font-size: 90px; text-transform:uppercase; letter-spacing:0.15em; font-weight: 700;"><span class="text-primary">DELTA</span>PREDICT

</div>

<div class="tp-caption tp-resizeme" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['90','90','90','90']" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="opacity:0;s:1000;s:1000;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-start="1500" data-splitin="none" data-splitout="none" style="z-index: 7; font-size:18px; color: #DDD;">Application de prevision et optimisation de la consomation du fuel,<br>À l'unité de calcination d'OCP youssoufia
</div>

<div class="tp-caption tp-resizeme" data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['190','190','190','190']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;" data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);" data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;" data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_out="x:inherit;y:inherit;" data-start="1500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 8;"><a href="/prediction" class="btn btn-hvr-white hvr-pulse-grow" data-toggle="modal">Prediction</a>
</div>
<div class="tp-caption tp-resizeme" data-x="['right','right','right','right']" data-hoffset="['0','0','0','0']" data-y="['center','center','center','center']" data-voffset="['190','190','190','190']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;" data-style_hover="c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);" data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;" data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_out="x:inherit;y:inherit;" data-start="1500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 8;"><a href="/optimisation" class="btn btn-hvr-white hvr-pulse-grow" data-toggle="modal">Optimisation</a>
</div>
</li>

</ul>
</div>
</div>
</main>

<div class="content">


<section id="about" class="about section pb-0">
<div class="container">
<div class="row">
<header class="text-center col-md-8 col-md-offset-2">
<h2 id="etabl" class="section-title">A propos de l'OCP</h2>
<div class="spacer spacer-primary">
<div class="line">
<div class="dot"></div>
<div class="dot"></div>
<div class="dot"></div>
</div>
</div>
<p>Créé en 1920 pour extraire et exploiter le phosphate marocain, les opérations de notre Groupe se sont élargies pour couvrir aujourd’hui l’ensemble de la chaîne de valeur des engrais.</p>
</header>
</div>
</div>

</section>
<section id="about" class="about section pb-0">
  <div class="container">
  <div class="row">
  <header class="text-center col-md-8 col-md-offset-2">
  <h2 id="insea" class="section-title">A propos de INSEA</h2>
  <div class="spacer spacer-primary">
  <div class="line">
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
  </div>
  </div>
  <p>L'Institut national de statistique et d'économie appliquée (INSEA)  est l'une des grandes écoles d'ingénieurs marocaines située à Rabat et créer en 1961.</p>  
</header>
  </div>
  </div>
  
  </section>

<section id="team" class="team text-center section">
<div class="container">
<div class="row">
<header class="col-md-8 col-md-offset-2">
<h2 class="section-title">Equipe</h2>
<div class="spacer spacer-primary">
<div class="line">
<div class="dot"></div>
<div class="dot"></div>
<div class="dot"></div>
</div>
</div>
</header>
</div>
</div>
<div class="section-content">
<div class="container">
<div class="row row-columns">
  <div class="column col-sm-8 col-md-4">
    <figure class="team-profile">
    <div class="team-profile-img"><img alt="" src="/static/img/team/1-370x420.png"></div>
    <figcaption class="team-profile-hover">
    <div class="team-profile-info">
    
    <div class="team-profile-name">GRICH Yassine</div>
    <div class="spacer spacer-white">
    <div class="line">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
     </div>
    </div>
    <p class="team-profile-descr small">Etudiant en 3eme année cycle ingenieur RO </p>
    </div>
    </figcaption>
    </figure>
    </div>
<div class="column col-sm-6 col-md-4">
<figure class="team-profile">
<div class="team-profile-img"><img alt="" src="/static/img/team/1-370x420.png"></div>
<figcaption class="team-profile-hover">
<div class="team-profile-info">

<div class="team-profile-name">M. RAKIB Mohammed</div>
<div class="spacer spacer-white">
<div class="line">
<div class="dot"></div>
<div class="dot"></div>
<div class="dot"></div>
 </div>
</div>
<p class="team-profile-descr small">Encaderant </p>
</div>
</figcaption>
</figure>
</div>
<div class="column col-sm-4 col-md-4">
  <figure class="team-profile">
  <div class="team-profile-img"><img alt="" src="/static/img/team/1-370x420.png"></div>
  <figcaption class="team-profile-hover">
  <div class="team-profile-info">
  
  <div class="team-profile-name">ABOUTALEB Nasser</div>
  <div class="spacer spacer-white">
  <div class="line">
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
   </div>
  </div>
  <p class="team-profile-descr small">Etudiant en 3eme année cycle ingenieur RO </p>
  </div>
  </figcaption>
  </figure>
  </div>
<div class="column col-sm-6 col-md-4">

</div>

</div>
</div>
</div>
</section>

<section id="blog" class="blog text-center section pt-0">
<div class="container">
<div class="row">
<header class="col-md-8 col-md-offset-2">
<h2 class="section-title">Copyright</h2>
<div class="spacer spacer-primary">
<div class="line">
<div class="dot"></div>
<div class="dot"></div>
<div class="dot"></div>
</div>
</div>
<p>Copyright&copy;<span class="text-primary">DELTA</span>PREDICT</p>
</header>
</div>

</div>
</section>



</div>
</div>




<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.viewport.js"></script>
<script src="/static/js/smoothscroll.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/jquery.ajaxchimp.min.js"></script>
<script src="/static/js/jQuerySimpleCounter.js"></script>
<script src="/static/js/wow.min.js"></script>
<script src="/static/js/jquery.stellar.min.js"></script>
<script src="/static/js/jquery.magnific-popup.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/imagesloaded.pkgd.js"></script>
<script src="/static/js/isotope.pkgd.min.js"></script>
<script src="/static/js/interface.js"></script>

<script src="/static/js/rev-slider/jquery.themepunch.tools.min.js"></script>
<script src="/static/js/rev-slider/jquery.themepunch.revolution.min.js"></script>

<script src="/static/js/rev-slider/revolution.extension.actions.min.js"></script>
<script src="/static/js/rev-slider/revolution.extension.carousel.min.js"></script>
<script src="/static/js/rev-slider/revolution.extension.kenburn.min.js"></script>
<script src="/static/js/rev-slider/revolution.extension.layeranimation.min.js"></script>
<script src="/static/js/rev-slider/revolution.extension.migration.min.js"></script>
<script src="/static/js/rev-slider/revolution.extension.navigation.min.js"></script>
<script src="/static/js/rev-slider/revolution.extension.parallax.min.js"></script>
<script src="/static/js/rev-slider/revolution.extension.slideanims.min.js"></script>
<script src="/static/js/rev-slider/revolution.extension.video.min.js"></script>
<script>
  if (typeof $.fn.revolution !== 'undefined') {
      
      $("#rev_slider").revolution({
        sliderType:"standard",
        sliderLayout:"fullscreen",
        dottedOverlay:"none",
        delay:7000,
        navigation: {
          keyboardNavigation:"off",
          keyboard_direction: "horizontal",
          onHoverStop:"off",
          touch:{
            touchenabled:"on",
            swipe_threshold: 75,
            swipe_min_touches: 1,
            swipe_direction: "horizontal",
            drag_block_vertical: false
          },
          bullets: {
            enable:true,
            hide_onmobile:true,
            hide_under:767,
            style:"custom",
            hide_onmobile: true,
            hide_onleave: true,
            direction:"horizontal",
            h_align:"center",
            v_align:"bottom",
            h_offset:0,
            v_offset:40,
            space:8,
            tmp:'<span class="tp-bullet-inner"></span>'
          }
        },
        viewPort: {
          enable:true,
          outof:"pause",
          visible_area:"80%"
        },
        responsiveLevels:[1240,1024,778,480],
        gridwidth:[800],
        gridheight:[600],
        lazyType:"none",
        shadow:0,
        spinner:"off",
        stopLoop:"on",
        stopAfterLoops:0,
        shuffle:"off",
        autoHeight:"off",
        fullScreenAlignForce:"off",
        fullScreenOffsetContainer: "",
        fullScreenOffset: "",
        disableProgressBar:"on",
        hideThumbsOnMobile:"off",
        hideSliderAtLimit:0,
        hideCaptionAtLimit:0,
        hideAllCaptionAtLilmit:0,
        debugMode:false,
        fallbacks: {
          simplifyAll:"off",
          nextSlideOnWindowFocus:"off",
          disableFocusListener:false,
        }
      });
    }
</script>
</body>

</html>